
<div class="form">
    <form class="grey" action="/artists" method="GET">
        <input type="text" name="search" placeholder ="Enter artist name" required />
        <button type="submit">Search!</button>
    </form>
</div>
